<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.FreeListenMapper">
    
    
    <select id = "findFreeListenById" parameterType = "int" resultType = "com.neusoft.bean.FreeListen">
        select * from freelisten where id = #{id}
    </select>
    
    <select id="findAll" parameterType="int" resultType="com.neusoft.bean.FreeListen">
        select * from freelisten where qid=#{qid} and `show` = 1
    </select>
    
    <insert id="addFreeListen" parameterType="com.neusoft.bean.FreeListen">
        insert into freelisten (title,imgurl,fdesc,status,qid,branchid,pubtime, `show`)
        values(#{title}, #{imgurl},#{fdesc},#{status},#{qid},#{branchId},now(), 1)
    </insert>
    
    <update id = "deleteFreeListen" parameterType = "int">
    	update freelisten
    	set `show` = 0
    	where id = #{id}
    </update>
    
     <update id="updateFreeListen" parameterType="com.neusoft.bean.FreeListen">
        update freelisten
        set title = #{title}, imgurl = #{imgurl}, branchid = #{branchId},
        	fdesc = #{fdesc}, status = #{status}
        where id = #{id}
    </update>
    
</mapper>
